os:
  - linux
  - osx
dist: xenial
compiler:
  - gcc
  - clang
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install conan; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then pip3 install conan; fi
install:
# Automatic detection of your arch, compiler, etc.
  - conan user
script:
  - mkdir build
  - cd build
# Call the build system
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=True -DBUILD_TESTS=True
  - cmake --build .
# Run the tests
  - ctest . -C Release
