os:
  - linux
  - windows
language: python
python: "3.7"
dist: xenial
compiler:
  - gcc
install:
# Install conan
  - pip install conan
# Automatic detection of your arch, compiler, etc.
  - conan user
script:
  - mkdir build
  - cd build
# Call your build system
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=True -DBUILD_TESTS=True
  - cmake --build .
# Run your tests
  - ctest .
