os:
  - linux
  - osx

dist: xenial

language: python

python: "3.7"

compiler:
  - gcc
  - clang

before_cache:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew cleanup; fi
# Credit https://discourse.brew.sh/t/best-practice-for-homebrew-on-travis-brew-update-is-5min-to-build-time/5215/9
# Cache only .git files under "/usr/local/Homebrew" so "brew update" does not take 5min every build
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then find /usr/local/Homebrew \! -regex ".+\.git.+" -delete; fi

cache:
  directories:
    - $HOME/Library/Caches/Homebrew
    - /usr/local/Homebrew

before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install conan; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then pip install conan; fi

install:
# Automatic detection of your arch, compiler, etc.
  - conan user

script:
  - mkdir build
  - cd build
# Call the build system
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_EXAMPLES=True -DBUILD_TESTS=True
  - cmake --build .
# Run the tests
  - ctest . -C Release
